altinn-innsendingstjeneste/nabovarsel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema targetNamespace="http://skjema.kxml.no/dibk/nabovarsel" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nv="http://skjema.kxml.no/dibk/nabovarsel" xmlns:seres="http://seres.no/xsd/forvaltningsdata">

<xs:annotation>
      <xs:documentation>
         <xs:attribute name="XSLT-skriptnavn" fixed="SERES_XSD_GEN"/>
         <xs:attribute name="XSD-generatorversjon" fixed="2.0.13"/>
         <xs:attribute name="XSLT-prosessor" fixed="SAXON versjon 9.1.0.7"/>
         <xs:attribute name="generert" fixed="2014-09-15T10:13:24.85+02:00"/>
         <xs:attribute name="navneromprefix" fixed="http://seres.no/xsd"/>
         <xs:attribute name="namespace" fixed="http://skjema.kxml.no/dibk/nabovarsel"/>
         <xs:attribute name="meldingsnavn" fixed="Nabovarsel"/>
         <xs:attribute name="domenenavn" fixed="KS"/>
         <xs:attribute name="modellnavn" fixed="NabovarselType"/>
         <xs:attribute name="metamodellversjon" fixed="1.0"/>
         <xs:attribute name="guid" fixed="true"/>
         <xs:attribute name="orid" fixed="false"/>
         <xs:attribute name="nillable" fixed="true"/>
         <xs:attribute name="tillat-gjenbruk" fixed="true"/>
         <xs:attribute name="elementtype" fixed="true"/>
         <xs:attribute name="forvaltningsdata" fixed="true"/>
         <xs:attribute name="forvaltningsdata-navnerom" fixed="http://seres.no/xsd/forvaltningsdata"/>
         <xs:attribute name="særnorske-bokstaver-i-navn" fixed="false"/>
         <xs:attribute name="ft_guid_som_attributt" fixed="false"/>
         <xs:attribute name="sem-ref" fixed="false"/>
         <xs:attribute name="kodebibliotek" fixed="false"/>
         <xs:attribute name="språk" fixed=""/>
         <xs:attribute name="XSD-variant" fixed="Altinn"/>
         <xs:attribute name="XSD-transformatorversjon" fixed="1.2"/>
      </xs:documentation>
   </xs:annotation>


  
  <xs:element name="Dispensasjonstype" type="nv:DispensasjonstypeType"/>
  <xs:complexType name="DispensasjonstypeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DispensasjonstypeListe">
    <xs:sequence>
      <xs:element name="dispensasjonstype" type="nv:DispensasjonstypeType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Eiendom" type="nv:EiendomType"/>
  <xs:complexType name="EiendomListe">
    <xs:sequence>
      <xs:element name="eiendom" type="nv:EiendomType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EiendomType" seres:guid="http://kommit.metakat.no/Objekttype/Index/6096C1B8-4757-4de9-AA48-4AB99030F59E">
    <xs:sequence>
      <xs:element name="adresse" minOccurs="0" maxOccurs="1" nillable="true" type="nv:EnkelAdresseType"/>
      <xs:element name="eiendomsidentifikasjon" minOccurs="0" maxOccurs="1" nillable="true" type="nv:MatrikkelnummerType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnkelAdresse" type="nv:EnkelAdresseType"/>
  <xs:complexType name="EnkelAdresseListe">
    <xs:sequence>
      <xs:element name="enkeladresse" type="nv:EnkelAdresseType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EnkelAdresseType" seres:guid="http://kommit.metakat.no/Objekttype/Index/751C127A-7C14-4747-9A74-F28856A1EF3B">
    <xs:sequence>
      <xs:element name="adresselinje1" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string"/>
      <xs:element name="adresselinje2" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string"/>
      <xs:element name="adresselinje3" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string"/>
      <xs:element name="postnr" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string"/>
      <xs:element name="poststed" minOccurs="1" maxOccurs="1" nillable="true" type="xs:string"/>
      <xs:element name="landkode" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NaboGjenboer" type="nv:NaboGjenboerType"/>
  <xs:complexType name="NaboGjenboerListe">
    <xs:sequence>
      <xs:element name="nabogjenboer" type="nv:NaboGjenboerType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NaboGjenboerType" seres:guid="http://kommit.metakat.no/Objekttype/Index/A7974217-0115-42f0-9445-C62B21F67B62">
    <xs:complexContent>
      <xs:extension base="nv:PartType">
        <xs:sequence>
          <xs:element name="gjelderNaboeiendom" minOccurs="1" maxOccurs="1" nillable="true" type="nv:EiendomType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Nabovarsel" type="nv:NabovarselType"/>
  <xs:complexType name="NabovarselListe">
    <xs:sequence>
      <xs:element name="nabovarsel" type="nv:NabovarselType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NabovarselType" seres:guid="http://kommit.metakat.no/Objekttype/Index/E96285F9-ED23-4a8e-90CA-1262B8F593FB" seres:elementtype="Meldingsmodell">
    <xs:sequence>
      <xs:element name="eiendomByggested" minOccurs="1" maxOccurs="1" nillable="true" type="nv:EiendomListe"/>
      <xs:element name="tiltakstyper" minOccurs="1" maxOccurs="1" nillable="true" type="nv:TiltakstypeListe"/>
      <xs:element name="dispensasjonstyper" minOccurs="0" maxOccurs="1" nillable="true" type="nv:DispensasjonstypeListe"/>
      <xs:element name="gjeldendePlan" minOccurs="1" maxOccurs="1" nillable="true" type="nv:PlanType"/>
      <xs:element name="beskrivelseAvTiltaket" minOccurs="1" maxOccurs="1" nillable="true" type="xs:string"/>
      <xs:element name="tiltakshaver" minOccurs="1" maxOccurs="1" nillable="true" type="nv:TiltakshaverType"/>
      <xs:element name="eiere" minOccurs="1" maxOccurs="1" nillable="true" type="nv:PartListe"/>
      <xs:element name="vedlegg" minOccurs="0" maxOccurs="1" nillable="true" type="nv:VedleggListe"/>
      <xs:element name="naboer" minOccurs="0" maxOccurs="1" nillable="true" type="nv:NaboGjenboerListe"/>
    </xs:sequence>
    <xs:attribute fixed="KXML" name="dataFormatProvider" type="xs:string" use="required"/>
    <xs:attribute fixed="4782" name="dataFormatId" type="xs:string" use="required"/>
    <xs:attribute fixed="33264" name="dataFormatVersion" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:element name="Part" type="nv:PartType"/>
  <xs:complexType name="PartListe">
    <xs:sequence>
      <xs:element name="part" type="nv:PartType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartType" seres:guid="http://kommit.metakat.no/Objekttype/Index/8CCCF8BC-A17D-43d9-8403-837BA4B5729D">
    <xs:sequence>
      <xs:element name="partstype" minOccurs="1" maxOccurs="1" nillable="true" type="nv:PartstypeType"/>
      <xs:element name="organisasjonsnummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string"/>
      <xs:element name="navn" minOccurs="1" maxOccurs="1" nillable="true" type="xs:string"/>
      <xs:element name="adresse" minOccurs="0" maxOccurs="1" nillable="true" type="nv:EnkelAdresseType"/>
      <xs:element name="www" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string"/>
      <xs:element name="telefonnummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Partstype" type="nv:PartstypeType"/>
  <xs:complexType name="PartstypeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Plan" type="nv:PlanType"/>
  <xs:complexType name="PlanListe">
    <xs:sequence>
      <xs:element name="plan" type="nv:PlanType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlanType" seres:guid="http://kommit.metakat.no/Objekttype/Index/4D4BFB0B-BDF4-4e88-A48B-0872131AC797">
    <xs:sequence>
      <xs:element name="plantype" minOccurs="1" maxOccurs="1" nillable="true" type="nv:PlantypeType"/>
      <xs:element name="navn" minOccurs="1" maxOccurs="1" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Plantype" type="nv:PlantypeType"/>
  <xs:complexType name="PlantypeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tiltakshaver" type="nv:TiltakshaverType"/>
  <xs:complexType name="TiltakshaverListe">
    <xs:sequence>
      <xs:element name="tiltakshaver" type="nv:TiltakshaverType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TiltakshaverType" seres:guid="http://kommit.metakat.no/Objekttype/Index/03CD00E2-8E8E-41f6-AA22-5208280F57C6">
    <xs:complexContent>
      <xs:extension base="nv:PartType">
        <xs:sequence>
          <xs:element name="Soeknad_personlig_ansvarsrett" minOccurs="1" maxOccurs="1" nillable="true" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Vedlegg" type="nv:VedleggType"/>
  <xs:complexType name="VedleggListe">
    <xs:sequence>
      <xs:element name="vedlegg" type="nv:VedleggType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VedleggType" seres:guid="http://kommit.metakat.no/Objekttype/Index/D46BA85F-33F9-4f49-8CC3-DD7BACB37B3C">
    <xs:sequence>
      <xs:element name="elektroniskVedlegg" minOccurs="1" maxOccurs="1" nillable="true" type="xs:boolean"/>
      <xs:element name="filnavn" minOccurs="1" maxOccurs="1" nillable="true" type="xs:string"/>
      <xs:element name="kommentar" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string"/>
      <xs:element name="postbasertVedlegg" minOccurs="0" maxOccurs="1" nillable="true" type="xs:boolean"/>
      <xs:element name="vedleggstype" minOccurs="1" maxOccurs="1" nillable="true" type="nv:VedleggstypeType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vedleggstype" type="nv:VedleggstypeType"/>
  <xs:complexType name="VedleggstypeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tiltakstype" type="nv:TiltakstypeType"/>
  <xs:complexType name="TiltakstypeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TiltakstypeListe">
    <xs:sequence>
      <xs:element name="tiltakstype" type="nv:TiltakstypeType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Matrikkelnummer" type="nv:MatrikkelnummerType"/>
  <xs:complexType name="MatrikkelnummerListe">
    <xs:sequence>
      <xs:element name="matrikkelnummer" type="nv:MatrikkelnummerType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MatrikkelnummerType" seres:guid="http://kommit.metakat.no/Objekttype/Index/DCEAC5DE-DAD8-4194-BF07-89209CE4588E">
    <xs:sequence>
      <xs:element name="kommunenummer" minOccurs="1" maxOccurs="1" nillable="true" type="xs:string"/>
      <xs:element name="gaardsnummer" minOccurs="1" maxOccurs="1" nillable="true" type="xs:integer"/>
      <xs:element name="bruksnummer" minOccurs="1" maxOccurs="1" nillable="true" type="xs:integer"/>
      <xs:element name="festenummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:integer"/>
      <xs:element name="seksjonsnummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>